html
  head
    title #{ticket.subject} | Zendesk Ticket Viewer
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='./css/ticket.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  body
    .ticket
      .ticket-header.clearfix
        a.logo(href='#')
          img(src='https://d1eipm3vz40hy0.cloudfront.net/images/p-brand/zendesk-wordmark.svg', alt='Swiss Airline')
      .break

      .ticket-body
        .passenger
          span
            | #{ticket.subject}
            | !{' '}
        .description
        span.nocase
         | Description
         p.ticketbody #{ticket.description}
        span.nocase
      .ticket-body
        .passenger
          | Comments
          each comment in listofcomments
            p.ticketbody #{comment.body}
      .ticket-body
        .passenger
        ul.clearfix
          li
            h4 Type
            span #{ticket.status || "n/a"}
          li
            h4 Priority
            span #{ticket.priority || "n/a"}
          li
            h4 ID
            span Ticket ##{ticket.id}

      .ticket-body
        ul.clearfix
          li
            a(href='javascript:history.back()')
              h4 BACK
